.main,body,uni-page-body,page{
  height: 100%;
}

/* Inter font CSS */
:root { font-family: 'Inter', sans-serif; }

.main {
  padding: 40rpx;
  background-color: #fafafa;
}
.bg-color{
  background-color: rgba(250, 250, 250);
}

.pre-border{
  padding-left: 16rpx;
  position: relative;
}
.pre-border::before{
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
  width: 8rpx;
  border-radius: 999px;
  background-color: #60a5fa;
}
.navigator-hover{
  background-color: transparent;
}
